html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 20px;

  background: #394952;
  font-family: 'Roboto', sans-serif;;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.image-container {
  min-width: 100px; 
  max-width: 160px; 
  min-height: 100px;
  max-height: 160px;
  padding: 20px;
}

.image-container > .image {
  border-radius: 50%;
  height: 100%;
  width: 100%;
}

.info-container {
  flex-shrink: 0;
}

.info-container > .title {
  margin: 0 15px 0 5px;
  color: #99736e;
}

.info-container > .desc {
  margin: 0 15px 0 5px;
  max-width: 400px;
  color: #70838c;
}

.info-container > .divider {
  margin: 10px 0;
  border: 0;
  border-top: 1px solid #70838c;
  opacity: .4;
  width: 100%;
}

.links-container {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;

  margin: 0 15px 0 10px;
}

.links-container > .title {
  margin: 0;
  color: #70838c;
  font-size: 1.2em;
  line-height: 1.5;
}

.links-container > .link {
  margin-left: 15px;
  color: #7c9fa6;
  text-decoration: none;
  transition: .2s;
}

.links-container > .link:hover {
  color: #70838c;
}
