$navbar-margin-bottom: 0;
$body-bg: #2d2d2d;
$text-color: #d3d0c8;
$headings-color: #ffcc66;
$link-color: #6699cc;
$navbar-default-bg: #393939;
$navbar-default-color: #d3d0c8;
$navbar-default-link-color: #6699cc;
$nav-pills-active-link-hover-bg: black;

@import 'bootstrap';

h3{
  color: #f2777a;
}

html, body {
  height: 100%;
  width: 100%; }

body{
  min-height: 1200px;
}

.sidebar {
  color: white;
  height: 100%;
  position: fixed;
  div{
    height: 100%;
    } }

#sidecolor{
  background-color: #393939;
  h2{
    color: #d3d0c8;
    }
}

hr{
  border-color: #3E454C;
}

.navbar{
  padding-bottom: 1px;
}

#banner {
  h1 {
    color: #f2f0ec; }
  p {
    color: white; }
  background-color: #66cccc;
  background-image: url("");
  background-size: cover;
  background-position: 0% 50%; }


